.mainPostContainer{
      flex: 3;
      margin-top: 55px;
      margin-bottom: 20px;
}

/* Mobile */
@media only screen and (max-width: 767px) {
      /* .ComponentContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
      } */
}