body {
      margin: 0;
      font-family: 'Lato', sans-serif;
      /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

/* Mobile */
@media only screen and (max-width: 767px) {
      .mainNavbar {
            display: flex;
            /* width: 100%; */
      }

      .LogoContainer>a>img {
            margin-left: 5px;
            width: 70px;
            height: 30px;
      }

      .mainPostContainer {
            width: 100%;
      }

      .PostContainer {
            width: 100%;
      }

      .ComponentContainer {
            width: 95%;
      }
}