.mainContainerForSignup {
      background-color: #FFD7D7;
      height: 100vh;
      display: flex;
      justify-content: center;
}

.submainContainer {
      display: flex;
      align-items: center;
      gap: 50px;
}

.loginLeft {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 400px;
      background-color: white;
      border-radius: 15px;
}

.loginLeft>img {
      width: 500px;
      border-bottom: 150px;
}

.loginRight {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      height: 400px;
      border-radius: 15px;
}

.introText {
      font-size: 24px;
      margin-left: 5px;
      margin-top: 20px;
}

.createAccountText1 {
      font-size: 22px;
      margin-top: 10px;
      text-align: start;
      margin-left: 30%;
      font-weight: bold;
}

.inputText {
      display: flex;
      margin-left: 30%;
      width: 40%;
      padding: 10px;
      border: none;
      border-radius: 10px;
      margin-top: 20px;
      background-color: #FFD7D7;
}

.btnForSignup {
      margin-left: 2%;
      margin-top: 15px;
      border-radius: 10px;
      align-self: center;
      width: 40%;
      padding-top: 5px;
      padding-bottom: 5px;
      cursor: pointer;
      border: none;
}

.btnForSignup:hover{
      background-color: #FD2D01;
}

/* Mobile */
@media only screen and (max-width: 767px) {
      .mainContainerForSignup {
            align-items: center;
      }
      .submainContainer {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 30px;
            padding-top: 0px;
      }
      .loginLeft {
            width: 90%;
            align-items: center;
      }
      .loginLeft>img {
            width: 220px;
            margin-top: 15px;
      }
      .introText {
            font-size: 15px;
      }
      .createAccountText1 {
            font-size: 22px;
            margin-top: 10px;
            margin-left: 50px;
      }
      .loginRight>a {
            margin-left: 5px;
            margin-right: 5px;
      }
      .inputText {
            align-items: center;
            display: flex;
            justify-content: center;
      }
      .btnForSignup {
            margin-left: 0%;
            margin-top: 10px;
            border-radius: 10px;
            align-self: center;
            width: 60%;
            padding-top: 5px;
            padding-bottom: 5px;
            cursor: pointer;
            border: none;
      }
      .btnForSignup:hover{
            background-color: #FD2D01;
      }
}

/* Tablette */
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
      .submainContainer {
            display: flex;
            gap: 50px;
            padding-top: 0;
      }
      .loginLeft {
            width: 50%;
            align-items: center;
            height: 300px;
            margin-left: 20px;
            margin-top: 50px;
      }
      .loginLeft>img {
            width: 320px;
            margin-top: 15px;
      }
      .introText {
            font-size: 17px;
      }
      .loginRight {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: white;
            height: 300px;
            border-radius: 15px;
            margin-top: 50px;
            margin-right: 20px;
      }

}

/* Deskstop
@media only screen and (min-width : 1224px) {
      .submainContainer {
            display: flex;
            gap: 50px;
      }
} */