.ProfileContainer{
      background-color: rgb(235, 238, 242);
}

.subProfileContainer{
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: space-between;
}

/* Mobile */
@media only screen and (max-width: 767px) {
      .ProfileLeftbar {
            display: none;
      }
      .ProfileRightbar {
            display: none;
      }
      .mainNavbar {
            display: flex;
            /* width: 85%; */
            border-radius: 0;
      }
      .subProfileContainer {
            margin: 0px;
            width: 100%;
      }
      .ProfileMainPostContainer {
            width: 100%;
      }
      .ProfileMainPostContainer>div>img {
            width: 93%;
            margin-left: 5px;
      }
      
}